/*
  0. Variables and mixins
*/
$font-stack: 'Roboto', 'Helvetica', Arial, sans-serif;
$brand-1: #008375;

@mixin table-collapsed {
  @media (max-width: 1900px) { @content; }
}

/*
  1. Base
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  header {
    img {
      height: 48px;
      width: 148px;
    }
    h1 {
      color: #FFF;
      background-color: $brand-1;
      font-size: 1.5rem;
      padding: 1.75rem 3.25rem;
    }
  }
  @media (max-width: 760px) {
    header {
      h1 {
        font-size: 1.15rem;
        padding: 1rem 1rem 1rem 3.25rem;
      }
    }
  }
}

/*
  2. Layout
*/
.modal {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  align-items: center;
}

.button {
  border: 1px solid rgba(255, 255, 255, .48);
  border-radius: 20rem;
  padding: 0.5rem 0.75rem;
  color: #FFF;
  font-family: inherit;
  font-size: inherit;
  background-color: #BDBDBD;
  cursor: pointer;
  transition: all ease-out .2s;
  &:hover {
    background-color: #777;
  }
  display: inline-block;
}

.button-color {
  border: 0;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 30px;
  padding: 10px 35px;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(255, 255, 255, 0.24);
  transition: ease-in-out 0.25s all;
  font-size: 1rem;
  cursor: pointer;
  &.salvar {
    background-color: #038375;
    &:disabled {
      cursor: not-allowed;
      background-color: #ddd;
      opacity: 0.45;
    }
  }
  &.cancelar {
    background-color: #EB5757;
  }
}

/*
  4. State
*/
#nuxt-loading {
  background-color: $brand-1
}
