/*
  SMACSS -> http://smacss.com/book/categorizing
  0. Variables
  1. Base
  2. Layout
  3. Module
  4. State
  5. Theme
*/

/*
  0. Variables and mixins
*/
$font-stack: 'Roboto', 'Helvetica', Arial, sans-serif;
$brand-1: #008375;

@mixin table-collapsed {
  @media (max-width: 1900px) { @content; }
}

/*
  1. Base
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  header {
    img {
      height: 48px;
      width: 148px;
    }
    h1 {
      color: #FFF;
      background-color: $brand-1;
      font-size: 1.5rem;
      padding: 1.75rem 3.25rem;
    }
  }
}

/*
  2. Layout
*/

/*
  4. State
*/
#nuxt-loading {
  background-color: $brand-1
}
